# Developer files
.git

# The original database file (MS Access) and provided images
*.accdb
*.zip
src/images

# Local dependencies and scripts
scripts/image-convertor
scripts/redirect-checker
scripts/sinonims-export
node_modules
vendor
# We use composer to add some git repositories as dev dependencies
!vendor/noisebynorthwest/php-spx
!vendor/tideways/php-xhprof-extension
!vendor/longxinh/xhprof

# Temporary files
.php-cs-fixer.cache
.phpunit.result.cache
/tmp/*.html
/tmp/*.json
/tmp/*.tar
/tmp/pccd
