# Developer files
.git
.github
.husky
.phive
tools

# The database files, provided zip files and original images
*.accdb
*.zip
src/images

# Local dependencies and scripts
node_modules
scripts/SentenceSimilarityGroup
vendor
# We use Composer to add git repositories as dev dependencies
!vendor/noisebynorthwest/php-spx

# Temporary files
.php-cs-fixer.cache
.phpunit.result.cache
tmp/*.html
tmp/*.json
tmp/*.tar
tmp/github
test-results
