* text=auto eol=lf

/tools/* binary
/src/images/* binary
/docroot/mp3/* binary
/docroot/img/imatges/* binary
/docroot/img/obres/* binary

*.php diff=php
*.css diff=css
*.min.* -diff
*.generated.php -diff

/src/images export-ignore
/docroot/img/imatges export-ignore
/docroot/img/obres export-ignore
/docroot/mp3 export-ignore
/docroot/google*.html export-ignore
/tmp/test* export-ignore
/install/db/*.sql export-ignore
/vendor export-ignore
/tools/* export-ignore
/tools/phive -export-ignore
/tools/LICENSE.txt -export-ignore
/src/third_party/* export-ignore
/src/third_party/urlLinker.php -export-ignore
/scripts/common-voice-import export-ignore
/scripts/SentenceSimilarityGroup export-ignore
/scripts/sinonims-export export-ignore
/scripts/common-voice-export/*.txt export-ignore
/scripts/common-voice-export/pccd.txt -export-ignore
