* text=auto eol=lf

/docroot/img/imatges/* binary
/docroot/img/obres/* binary
/docroot/mp3/* binary
/src/images/* binary
/tools/* binary

*.css diff=css
*.generated.php -diff
*.min.* -diff
*.php diff=php

.mailmap export-ignore
/docroot/google*.html export-ignore
/docroot/img/imatges export-ignore
/docroot/img/obres export-ignore
/docroot/mp3 export-ignore
/install/db/*.sql export-ignore
/scripts/SentenceSimilarityGroup export-ignore
/scripts/common-voice-export/*.txt export-ignore
/scripts/common-voice-export/pccd.txt -export-ignore
/scripts/common-voice-import export-ignore
/scripts/sinonims-export export-ignore
/src/images export-ignore
/src/third_party/* export-ignore
/src/third_party/urlLinker.php -export-ignore
/tmp/test* export-ignore
/tools/* export-ignore
/tools/LICENSE.txt -export-ignore
/tools/phive -export-ignore
/vendor export-ignore
