# Unnecessary developer files
*.sublime-workspace
.DS_Store
.fleet
.vscode
sftp-config.json

# The original database file (MS Access) and provided zipped files
/*.accdb
/*.zip

# Unnecessary provided files
.picasa.ini

# Local settings files
.env
db_settings.local.php
docker-compose.override.yml

# Local dependencies
*Brewfile.lock.json
/scripts/common-voice-export/third_party
node_modules
vendor

# Temporary files
*.generated.sh
*.report.html
.php-cs-fixer.cache
.phpunit.result.cache
/tmp/*.html
/tmp/*.json
!/tmp/assets-sizes.json
/tmp/cv
/tmp/github
/tmp/test_tmp_*.txt
