includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  level: 9
  checkBenevolentUnionTypes: true
  reportAlwaysTrueInLastCondition: true
  reportAnyTypeWideningInVarTag: true
  reportPossiblyNonexistentConstantArrayOffset: true
  paths:
    - src
    - docroot
    - scripts
  excludePaths:
    - *.generated.php
    - */apc.conf.php
    - */node_modules/*
    - */third_party/*
    - */vendor/*
    - src/xhprof.php
  ignoreErrors:
    - '#Cannot call method (execute|fetch|fetchAll|fetchColumn)\(\) on PDOStatement\|false#'
