[mysqld]
character-set-server = utf8mb4
connect_timeout = 1200
net_read_timeout = 1200
net_write_timeout = 1200
max_allowed_packet = 1024M
innodb_buffer_pool_size = 2048M
innodb_doublewrite = 0
innodb_flush_log_at_timeout = 1800
innodb_flush_log_at_trx_commit = 0
innodb_flush_method = O_DIRECT
innodb_ft_cache_size = 800000000
innodb_ft_enable_stopword = 0
innodb_ft_min_token_size = 1
innodb_lock_wait_timeout = 50
innodb_log_buffer_size = 64M
innodb_log_file_size = 256M
skip-log-bin
