/*
 * This file is part of PCCD.
 *
 * (c) Pere Orga Esteve <pere@orga.cat>
 *
 * This source file is subject to the AGPL license that is bundled with this
 * source code in the file LICENSE.
 */

dl,
dt,
dd {
    padding: 0;
    margin: 0;
}

dl,
.col-work > div {
    margin-bottom: 0.5rem;
}

dt,
dd {
    display: inline;
}

dd {
    margin-left: 0.4rem;
}

.col-work {
    margin-bottom: 1rem;
}

.col-work footer {
    margin: 1rem 0;
}

.col-image {
    order: 2;
    text-align: center;
}

.col-image + .col-work {
    order: 1;
}

/* Big mobile and greater */
@media (min-width: 576px) {
    .col-image {
        flex: 0 0 41.6667%;
        order: 1;
        max-width: 41.6667%;
    }

    .col-image + .col-work {
        flex: 0 0 58.3333%;
        order: 2;
        max-width: 58.3333%;
    }
}
