/*
 * This file is part of PCCD.
 *
 * (c) Pere Orga Esteve <pere@orga.cat>
 *
 * This source file is subject to the AGPL license that is bundled with this
 * source code in the file LICENSE.
 */

.obra p {
    margin-bottom: 0.5rem;
}

.obra p.peu {
    margin: 1rem 0;
}

/* Center image. */
.order-2.order-sm-1 {
    text-align: center;
}
