/*
 * This file is part of PCCD.
 *
 * (c) Pere Orga Esteve <pere@orga.cat>
 *
 * This source file is subject to the AGPL license that is bundled with this
 * source code in the file LICENSE.
 */

h2 {
    font-size: 1.125rem;
}

.article-summary {
    margin-bottom: 1.5rem;
}

.shortcuts {
    margin-top: 0.5rem;
}

#toggle-all,
a.media-link {
    display: inline-block;
    padding: 3px 6px;
    font-size: 0.875rem;
    line-height: 1;
    color: #000;
    text-decoration: none;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

#toggle-all {
    margin-right: 1rem;
}

#toggle-all:hover,
#toggle-all:focus,
a.media-link:hover,
a.media-link:focus {
    color: inherit;
    text-decoration: none;
    outline: 1px solid #333;
}

.entry {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    word-break: break-word;
    word-wrap: break-word;
    border: 1px solid #dee2e6;
}

.entry div,
.entry footer {
    padding: 0.25rem;
}

.entry footer {
    background-color: #f9f9f9;
}

details,
.summary {
    margin-bottom: 2rem;
}

summary,
.summary {
    font-size: 0.875rem;
}

summary {
    cursor: pointer;
}

.bloc-image {
    padding: 7px;
}

.bloc-top100 {
    display: none;
}

figcaption {
    margin-top: 5px;
    font-size: 0.875rem;
    text-align: left;
}

a.audio {
    display: inline-block;
    padding: 0.5rem;
    outline: 0;
    opacity: 0.6;
}

a.audio:hover,
a.audio:focus {
    filter: brightness(75%);
    opacity: 1;
}

/* Tablet and greater */
@media (min-width: 768px) {
    .bloc-top100 {
        display: block;
    }

    a.media-link {
        display: none;
    }
}

@media print {
    .shortcuts {
        display: none;
    }
}
