/*
 * This file is part of PCCD.
 *
 * (c) Pere Orga Esteve <pere@orga.cat>
 *
 * This source file is subject to the AGPL license that is bundled with this
 * source code in the file LICENSE.
 */

*,
::after,
::before {
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background-color: #3191ff;
}

/* Remove annoying scrolling effect on iOS. See https://stackoverflow.com/a/47818418/1391963 and
    https://stackoverflow.com/a/76012628/1391963 */
@supports (-webkit-touch-callout: none) {
    html {
        overscroll-behavior-y: none;
    }
}

/* stylelint-disable property-no-vendor-prefix */
body {
    font:
        1rem/1.5 system-ui,
        sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
}
/* stylelint-enable property-no-vendor-prefix */

body,
figure,
ul {
    margin: 0;
}

p {
    margin: 0 0 1rem;
}

header nav {
    display: flex;
    gap: 1em;
    font-size: 4vw;
}

a {
    color: #551a8b;
    text-decoration: none;
    background-color: transparent;
}

header nav a {
    margin: 0.5em 0;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

a.external {
    padding-right: 1em;
    background-image: url("/img/external.svg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 0.857em;
}

.brand {
    display: block;
    margin: 0.5rem 0;
    font-size: 4.5vw;
    color: #fff;
    touch-action: manipulation;
}

.brand:hover,
header nav a:hover {
    color: #dee2e7;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

input {
    overflow: visible;
}

button {
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 0.25rem;
}

button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

h1,
h2,
h3 {
    margin: 0 0 0.5em;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

main {
    margin-top: 30px;
}

footer {
    padding: 30px 15px 20px;
    margin-top: 30px;
    font-size: 0.875rem;
    text-align: center;
    text-wrap: balance;
    border-top: 1px solid #dee2e6;
}

button:focus {
    outline: #cbd5e7 solid 3px;
}

main,
header > div {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row > * {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

article {
    margin-bottom: 30px;
}

header {
    padding: 0.5rem 0;
    background-color: #2b5797;
}

.d-none {
    display: none;
}

.text-balance {
    text-wrap: balance;
}

.text-break {
    word-break: break-word;
    word-wrap: break-word;
}

.text-monospace {
    padding: 0 0.25rem 0.2rem;
    font-family: monospace;
    background-color: #eff1f2;
    border-radius: 0.25rem;
}

.text-nowrap {
    white-space: nowrap;
}

.bloc {
    max-width: 400px;
    padding: 10px;
    margin: 0 auto 30px;
    overflow: hidden;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #dee2e6;
}

.bloc p {
    margin: 10px 0;
}

.bloc .footer {
    font-size: 0.875rem;
    font-style: italic;
    text-align: right;
}

.bloc-white {
    background-color: #fff;
    border: 0;
}

.bloc-credits {
    margin-top: 45px;
}

/* stylelint-disable no-descending-specificity */
.bloc-credits a {
    font-size: 1.5rem;
}
/* stylelint-enable no-descending-specificity */

#cookie-banner {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

#cookie-banner button {
    padding: 1.5rem;
    font-size: 1rem;
    color: #eeff41;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
}

#cookie-banner > div {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    background-color: #3c4043;
}

#cookie-banner > div > div {
    padding: 1.5rem 1.5rem 0;
    font-size: 0.875rem;
}

/* Very (not extreme) small devices */
@media (min-width: 330px) {
    header nav {
        gap: 1rem;
        font-size: 0.875rem;
    }

    .brand {
        font-size: 1rem;
    }
}

/* Small devices */
@media (min-width: 400px) {
    header nav {
        font-size: 1rem;
    }

    .brand {
        font-size: 1.25rem;
    }
}

/* Medium devices */
@media (min-width: 576px) {
    #cookie-banner {
        margin-right: 15px;
    }

    #cookie-banner > div {
        flex-wrap: nowrap;
        margin-bottom: 15px;
        margin-left: 15px;
    }

    #cookie-banner > div > div {
        padding: 1.5rem;
    }

    .brand {
        margin-right: 1rem;
    }
}

/* Large devices */
@media (min-width: 768px) {
    aside {
        flex: 0 0 15rem;
    }

    article {
        flex: 1;
    }

    main,
    header > div {
        padding-right: 30px;
        padding-left: 30px;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .bloc-white {
        border: 1px solid #dee2e6;
    }

    .bloc-credits {
        margin-top: 0;
    }

    .brand {
        margin: 1rem 0;
    }
}

/* XL devices */
@media (min-width: 992px) {
    aside {
        flex: 0 0 18rem;
    }
}

@page {
    size: a4 portrait;
}

@media print {
    footer,
    img,
    .bloc,
    .entry {
        page-break-inside: avoid;
    }

    h2,
    h3,
    summary {
        page-break-after: avoid;
    }

    #cookie-banner {
        display: none;
    }
}
