/*
 * This file is part of PCCD.
 *
 * (c) Pere Orga Esteve <pere@orga.cat>
 *
 * This source file is subject to the AGPL license that is bundled with this
 * source code in the file LICENSE.
 */

*,
::after,
::before {
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background-color: #3191ff;
}

/* Remove annoying scrolling effect on iOS. See https://stackoverflow.com/a/47818418/1391963 and
    https://stackoverflow.com/a/76012628/1391963 */
@supports (-webkit-touch-callout: none) {
    html {
        overscroll-behavior-y: none;
    }
}

/* stylelint-disable property-no-vendor-prefix */
body {
    font:
        1rem/1.5 system-ui,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        "Noto Sans",
        "Liberation Sans",
        Arial,
        sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
}
/* stylelint-enable property-no-vendor-prefix */

body,
p,
ul,
figure,
button,
input,
select {
    margin: 0;
}

p {
    margin-bottom: 1rem;
}

a {
    color: #551a8b;
    text-decoration: none;
    background-color: transparent;
}

header nav a {
    display: block;
    padding: 0.5rem 0;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

a.external {
    padding-right: 1em;
    background-image: url("/img/external.svg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 0.857em;
}

a.brand {
    color: #fff;
    touch-action: manipulation;
}

a.brand:focus,
a.brand:hover,
header nav a:focus,
header nav a:hover {
    color: #dee2e7;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

input {
    overflow: visible;
}

button {
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 0.25rem;
}

button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

h1,
h2,
h3 {
    margin: 0 0 0.5em;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 1.75rem;
}

main {
    margin-top: 15px;
}

body > footer {
    padding: 30px 15px 20px;
    margin-top: 30px;
    font-size: 0.875rem;
    text-align: center;
    text-wrap: balance;
    border-top: 1px solid #dee2e6;
}

#menu {
    flex-basis: 100%;
}

header button {
    padding: 0.25rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1;
    background-color: transparent;
    border: 0;
}

button:focus {
    outline: #cbd5e7 solid 3px;
}

header button:focus,
header button:hover {
    opacity: 0.8;
}

header button svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}

.container-md {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header .container-md {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

[class*="col-"] {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-main {
    margin-bottom: 30px;
}

header {
    padding: 0.5rem 0;
    background-color: #2b5797;
}

header nav {
    display: flex;
    flex-direction: column;
}

.d-none,
.brand-text {
    display: none;
}

.text-balance {
    text-wrap: balance;
}

.text-break {
    word-break: break-word;
    word-wrap: break-word;
}

.text-monospace {
    padding: 0 0.25rem 0.2rem;
    font-family: monospace;
    background-color: #eff1f2;
    border-radius: 0.25rem;
}

.text-nowrap {
    white-space: nowrap;
}

.brand-text-xs {
    font-size: 1.25rem;
}

.bloc {
    max-width: 400px;
    padding: 10px;
    margin: 0 auto 30px;
    overflow: hidden;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #dee2e6;
}

.bloc p {
    margin: 10px 0;
}

.bloc .footer {
    font-size: 0.875rem;
    font-style: italic;
    text-align: right;
}

.bloc-white {
    background-color: #fff;
    border: 0;
}

.bloc-credits {
    margin-top: 45px;
}

/* stylelint-disable no-descending-specificity */
.bloc-credits a {
    font-size: 1.5rem;
}
/* stylelint-enable no-descending-specificity */

#cookie-banner {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

#cookie-banner button {
    padding: 1.5rem;
    font-size: 1rem;
    color: #eeff41;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
}

#cookie-banner > div {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    background-color: #3c4043;
}

#cookie-banner > div > div {
    padding: 1.5rem 1.5rem 0;
    font-size: 0.875rem;
}

/* Small devices (landscape phones, 400px and up) */
@media (min-width: 400px) {
    .brand-text {
        display: inline;
    }

    .brand-text-xs {
        display: none;
    }
}

/* Medium devices (large phones, 576px and up) */
@media (min-width: 576px) {
    #cookie-banner {
        margin-right: 15px;
    }

    #cookie-banner > div {
        flex-wrap: nowrap;
        margin-bottom: 15px;
        margin-left: 15px;
    }

    #cookie-banner > div > div {
        padding: 1.5rem;
    }
}

/* Large devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #menu {
        display: flex;
        flex-basis: auto;
        justify-content: flex-end;
    }

    header button {
        display: none;
    }

    main {
        margin-top: 30px;
    }

    .container-md {
        padding-right: 30px;
        padding-left: 30px;
    }

    .bloc-white {
        border: 1px solid #dee2e6;
    }

    .bloc-credits {
        margin-top: 0;
    }

    header nav {
        flex-direction: row;
    }

    header nav a {
        padding: 1rem 0.5rem;
    }

    .col-aside {
        flex: 0 0 13rem;
    }

    .col-main {
        flex: 1;
    }
}

/* Extra large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .brand {
        font-size: 1.25rem;
    }

    .col-aside {
        flex: 0 0 15rem;
    }
}

/* XXL devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container-md {
        max-width: 1140px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-aside {
        flex: 0 0 18rem;
    }
}

@media print {
    a {
        text-decoration: underline;
    }

    img,
    tr {
        page-break-inside: avoid;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    body {
        min-width: 992px;
    }

    header,
    .bloc-contact {
        display: none;
    }
}
